<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Expense</title>
</head>
<body style="font-family: Quicksand ;">
    <table border="0">
        <tr bgcolor="#4e0755">

            <th style='border:white;' align="center" colspan="4">
                <a href="Member Dashboard.html" ><img src="Logo.png" height="180" ></a>

                <p style='border:none; font-size: 20;' align="right">
                    <a href="Home.html" style="color: #99d9ea ;" >Home</a>&nbsp;|&nbsp;&nbsp;
                    <a href="Logout.html" style="color: #99d9ea ;">&nbsp;Log Out</a>&nbsp;&nbsp;
                </p>
            </th>

        </tr>


        <tr style="font-size: 26px;">

            <td colspan="3">
                <h1 style="font-size: 38px; color: #4e0755; border-radius: 5px;" align="center">Share Expens List</h1>
            </td>
                
        </tr>

        <tr style="font-size: 26px;">
            <td valign="top" >
                <form>
                <fieldset style="border-radius: 30px;">
                    <legend style="color: #4e0755; border-radius: 5px;"><b>SEARCH EXPENSE</b></legend>
                    <table border="0">
                        <tr style="font-size: 22px;">
                            <td >
                                <label>Search by Category </label>
                            </td>

                            <td>
                                : <select style="font-family:'Quicksand'; font-size: 18px; width: 295px;" name="ExpCat" id="expcat">
                                    <option>Shopping Expense</option>
                                    <option>Marketing Expense</option>
                                    <option>Travelling Expense</option>
                                    <option>Daily Expense</option>
                                    <option>Billing Expense</option>
                                    <option>Service Expense</option>
                                </select>
                            </td>  
                        </tr>

                        <tr style="font-size: 22px;">
                            <td>
                                <label>Search by Name </label>
                            </td>

                            <td>
                                : <input size="30" type="text" name="expname" style="font-family:'Quicksand'; font-size: 18px;">
                            </td>
                            
                        </tr>

                        <tr>
                            <td>
                            <input type="submit" name="select" value="Search" style="font-family:'Quicksand'; font-size: 18px;">
                            <input type="reset" name="reset" value="Reset" style="font-family:'Quicksand'; font-size: 18px;">
                            </td>
                        </tr>
                    </table>
                </fieldset>
                </form>
            </td>

            <td width="1250" height="95" rowspan="3">
                <h2 align="center">Data View</h2>
            </td>
        </tr>

        <tr>
            <td align="center" colspan="1" height="80">
                <input type="submit" name="select" value="Select Expense" style="font-family:'Quicksand'; font-size: 26px; font-weight: bolder;">
            </td>
        </tr>

        <tr style="font-size: 26px;">
            <td valign="top" colspan="1">
                <form>
                <fieldset style="border-radius: 30px;">
                    <legend style="color: #4e0755; border-radius: 5px;"><b>SHARE EXPENSE VIA</b></legend>
                    <table border="0">
                        <tr  width="900">
                            <td width="250" align="center">
                                <a href="https://gmail.com" target="_blank">
                                    <img src="Gmail Icon.png" height="75"><br>
                                    <h4 style="font-size: 18px; color: #4e0755; border-radius: 5px;" align="center">Gmail</h4>
                                </a>
                            </td>
                            <td width="250" align="center">
                                <a href="https://messenger.com" target="_blank">
                                    <img src="Messenger Icon.png" height="75"><br>
                                    <h4 style="font-size: 18px; color: #4e0755; border-radius: 5px;" align="center">Messenger</h4>
                                </a>
                            </td>
                            <td width="250" align="center">
                                <a href="https://web.whatsapp.com" target="_blank">
                                    <img src="WhatsApp Icon.png" height="75"><br>
                                    <h4 style="font-size: 18px; color: #4e0755; border-radius: 5px;" align="center">WhatsApp</h4>
                                </a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                </form>
            </td>

        </tr>

        <tr>

            <td colspan="4" width="1920" height="50" style='border:none;'>
                <h4 align="center">Copyright ⓒ 2022</h4>
            </td>

        </tr>
    </table>

</body>
</html>